mitmproxy
playwright
torch
requests
numpy
--find-links https://github.com/shinkuan/Akagi/releases/expanded_assets/v0.1.1-libriichi
riichi>=0.1.1
tkhtmlview
pyinstaller
aliyun-log-python-sdk
ruamel.yaml
loguru
protobuf>=5.26.0